$padding: 8px;
$margin: 8px;

$connectionColor: #3b3b3c;
$connectionBackground: #ffffff;

$disconnectionColor: #315785;
$disconnectionBackground: #ffffff;

$commonFontFamily: Helvetica, sans-serif;

$buttonHeight: 30px;
$buttonFontSize: 20px;
$buttonBackground: #bacde4;
$buttonBorderWisth: 0px;

$headerBackground: #eff4fc;

$buttonCursor: pointer;
